@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Blinker', sans-serif;
}

.containner {
    width: 1920px;
    margin: 0 auto;
    overflow: hidden;
}

.navbar-login {
    width: 1920px;
    height: auto;
}

.logo-login {
    display: flex;
    width: 400px;
    height: auto;
    margin-right: -2rem;
}

.logo-login img {
    width: 400px;
    height: auto;

}

.login-right {
    display: flex;
    float: right;
    padding: 0 2rem;
    margin: -5rem 5rem;
}

#language {
    border: none;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.02px;
    margin-right: 1rem;
}

.home-right {
    border: none;
    font-size: 20px;
    letter-spacing: 1.02px;
    margin-right: 2rem;
    text-transform: uppercase;
    color: #667080;
    font-weight: 600;
    background-color: #FFF;
}

.register-right {
    border: none;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.02px;
    margin-right: 2rem;
    /* font-weight: bold; */
    text-transform: uppercase;
    color: #667080;
    background-color: #FFF;

}

.services-right {
    border: none;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.02px;
    margin-right: 2rem;
    text-transform: uppercase;
    color: #667080;
    font-weight: 600;
    background-color: #FFF;
    text-decoration: underline;
}

.dropdown-index-logout {
    position: relative;
    display: inline-block;
}

.index-logout {
    font-size: 20px;
    letter-spacing: 1.02px;
    margin-right: 1rem;
    text-transform: uppercase;
    border: white;
    width: 8rem;
    height: 3.3375rem;
    background: #B20C01;
    color: #FFF;
    font-size: 0.8875rem;
    font-weight: bold;
    letter-spacing: 0.10688rem;
    border-radius: 3.25rem;
    color: #FFF;
    margin-top: -2rem;

}

.dropdown-logout {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-logout a {
    color: black;
    padding: 12px 22px;
    text-decoration: none;
    display: block;
}

.dropdown-logout a:hover {
    background-color: #cccccc;

}

.dropdown-index-logout:hover .dropdown-logout {
    display: block;
}

.dropdown-index-logout:hover .index-logout {
    background-color: #08003B;
}
.intro-con-pro{
    height: 1350px;
    width: 1920px;
    background-color: #B20C01;
}
.add-work {
    width: 1920px;
    height: auto;
    margin-top: 4rem;
}

.work-info h1 {
    font-size: 96px;
    color: #09244B;
    font-weight: 400;
    font-family: 'Prompt', sans-serif;
    padding: 1rem 8rem 0;
    margin-bottom: 3rem;

}
.Project-profile {
    width: 1510px;
    height: 447px;
    margin-left: 8rem;
    box-shadow: 5px 5px 17px #c8c8c8,
        -5px -5px 17px #ffffff;
    border: none;
    margin-bottom: 1rem;
    border-radius: 2rem;
    background-color: #F5F5F5;
}

.Project-image {
    height: 447px;
    width: 620px;
}

.Project-image img {
    height: 100%;
    width: 100%;
}

.work-name {
    position: relative;
    bottom: 27rem;
    left: 43rem;
    width: 500px;
}

.work-name h3{
    font-size: 48px;
    font-weight: 400;
    font-family: 'Prompt', sans-serif;

}

.place-work {
    position: relative;
    bottom: 26.5rem;
    left: 43rem;
    width: 500px;

}

.place-work h4{
    position: relative;
    top: -2.5rem;
    left: 3rem;
    color: #252525;
    font-size: 24px;
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
}

.time-line {
    position: relative;
    bottom: 31.3rem;
    left: 64rem;
    width: 500px;

}

.time-line h4 {
    position: relative;
    font-weight: 400;
    bottom: 2.8rem;
    left: 3rem;
    color: #252525;
    font-size: 24px;
    font-family: 'Prompt', sans-serif;
}

.review-user {
    position: relative;
    bottom: 30rem;
    left: 43.2rem;
    width: 500px;

}

.review-user h3 {
    font-family: 'Prompt', sans-serif;
    font-size: 28px;
    font-weight: 600;

}

.review-project{
    margin-top: 2rem;
    width: 1920px;
    height: 500px;
}
.members-info h1 {
    font-size: 96px;
    color: #09244B;
    font-weight: 400;
    font-family: 'Prompt', sans-serif;
    padding: 1rem 8rem 0;

}