* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Blinker', sans-serif
}

.navbar-login {
    width: auto;
    height: auto;
}

.logo-login {
    display: flex;
    width: 471px;
    height: auto;
}

.login-right {
    display: flex;
    float: right;
    padding: 0 8rem;
    margin: -6rem 3rem;
}

#language {
    border: none;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.02px;
    margin-right: 1rem;
}

.singin-right {
    border: none;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.02px;
    margin-right: 1rem;
    font-weight: bold;

}

.register-right {
    border: none;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.02px;
    margin-right: 1rem;
}

.hero-branner {
    width: auto;
    height: 42rem;
    display: flex;
}

.intro-signin {
    width: 50%;
    height: 42rem;
    background: #ffffff;
}

.intro-text {
    width: auto;
    height: 10rem;
    background: #ffffff;
    padding: 8rem 16rem;
}

.intro-text h1 {
    border: none;
    font-style: normal;
    line-height: normal;
    letter-spacing: -1px;
    margin-right: 1rem;
    color: rgb(0, 0, 0);
    font-family: Blinker;
    font: 4.375rem sans-serif;
    font-weight: bolder;
}

.title-text {
    width: auto;
    height: 10rem;
    background: #ffffff;
    /* padding: 6rem 16rem; */
    padding-left: 16.25rem;
    margin-top: 3rem;
}

.title-text p {
    border: none;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    letter-spacing: 0.03013rem;
    margin-right: 1rem;
    color: rgb(0, 0, 0);
    font: 1.4375rem sans-serif;
    font-weight: 400;
}

.title-text a {
    border: none;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.03013rem;
    margin-right: 1rem;
    color: #B20C01;
    font-family: Blinker;
    font: 1.4375rem sans-serif;
    text-decoration: underline;
    font-weight: bold;
    padding-left: 0.232rem;
}

.switch-text {
    width: auto;
    height: 3rem;
    background: #ffffff;
    margin-top: 9.6rem;
    padding-left: 16.25rem;
}

.switch-text p {
    border: none;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    letter-spacing: 0.03013rem;
    margin-right: 1rem;
    color: rgb(0, 0, 0);
    font-family: Blinker;
    font: 1.4375rem sans-serif;
    font-weight: 400;
}

.switch-text a {
    border: none;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.03013rem;
    margin-right: 1rem;
    color: #B20C01;
    font-family: Blinker;
    font: 1.4375rem sans-serif;
    text-decoration: underline;
    font-weight: bold;
    padding-left: 0.232rem;
}

.singin-box {
    width: 50%;
    height: 42rem;
    background-color: rgb(255, 255, 255);
}

.input-singin {
    margin: 10rem 16rem;
    width: 50%;
    height: 5rem;
}

.input-singin input {
    border-radius: 0.625rem;
    background: #EAF0F7;
    border: white;
    width: 25rem;
    height: 3.75rem;
}

.input-singin ::placeholder {
    color: #4F555A;
    font-family: Blinker;
    font-style: normal;
    font-weight: 500;
    line-height: 4.8125rem;
    /* 427.778% */
    font: 16px sans-serif;
    letter-spacing: 0.10125rem;
    padding-left: 0.2rem;
}


.email-signin {
    margin-bottom: 1rem;
}

.password-singin input {
    border-radius: 0.625rem;
    background: #EAF0F7;
    border: none;
    width: 25rem;
    height: 3.75rem;
    flex-shrink: 0;
}

.password-singin ::placeholder {
    color: #4F555A;
    font-family: Blinker;
    font-style: normal;
    font-weight: 500;
    line-height: 4.8125rem;
    /* 427.778% */
    font: 16px sans-serif;
    letter-spacing: 0.10125rem;
}

.input-singin a {
    margin-left: 15.5rem;
} 

#forgot-pass {
    text-decoration: none;
    color: #C7C7C7;
    letter-spacing: 0.0875rem;
    font-size: 0.875rem;
    line-height: 1.8125rem;
    /* 550% */
    font-family: sans-serif;
}
#forgot-pass:hover{
    color: #B20C01;
}

.button-submit {
    margin: 10rem 16rem;
    width: 50%;
    height: 5rem;
}

.submit-login {
    border: white;
    width: 25rem;
    height: 3.75rem;
    border-radius: 0.625rem;
    background: #B20C01;
    color: #FFF;
    font-family: sans-serif;
    font-size: 1.1875rem;
    font-weight: bold;
    line-height: 2.8125rem; /* 405.263% */
    letter-spacing: 0.10688rem;
}











/* device mobile and ipad only fans * 430mobile ipad1024/


