* {
    inset: 0;
}

.navbar-login {
    width: auto;
    height: auto;
}

.logo-login {
    display: flex;
    width: 471px;
    height: auto;
}

.login-right {
    display: flex;
    float: right;
    padding: 0 2rem;
    margin: -6rem 3rem;
}

#language {
    border: none;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.02px;
    margin-right: 1rem;
}

.singin-right {
    border: none;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.02px;
    margin-right: 1rem;
}

.register-right {
    border: none;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.02px;
    margin-right: 1rem;
}

.create-pin-digit {
    width: 100%;
    height: 45rem;
    background-color: rgb(255, 255, 255);
}

.create-pin-digit h1 {
    color: #000;
    font-family: sans-serif;
    font-size: 5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 8.125rem;
    text-align: center;
}

.create-pin-digit h4 {
    color: #000;
    font-family: Blinker;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 300;
    text-align: center;
    margin-top: -2rem;
}

.pin-code-filed {
    justify-content: center;
    display: flex;
}

.pin-code-filed input {
    width: 26px;
    font-size: 2rem;
    padding: 1.2rem;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    text-align: center;
    margin: 2px;
    transition: all 0.2s;
}

.pin-code-filed input:focus {
    color: red;
}


.button-submit-pin {
    display: flex;
    justify-content: center;
    margin: 5rem;
}

.button-submit-pin button {
    height: 3.85rem;
    width: 25rem;
    border: none;
    border-radius: 0.625rem;
    background: #B20C01;
    box-shadow: 0px 12px 21px 4px rgba(68, 97, 242, 0.15);
    color: #FFF;
    font-family: sans-serif;
    font-size: 1.25rem;
    line-height: 1.6875rem;
    letter-spacing: 0.0375rem;
    text-align: center;
}
.button-submit-pin button:active{
    background-color: #000;
}